:root{
/*------------body--------------*/
    --bg__body: #111111;
    --color__body: #ffffff;

/*-------------input-------------*/
    --border_color__input: #cccccc;

/*----------input_submit----------*/ 
    --bg__input_submit: #4CAF50;
    --color__input_submit: #ffffff;

/*--------input_submit_hover-------*/
    --bg__input_submit_hover: #45a049;

/*----------------------------------*/
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    background-color: var(--bg__body);
    color: var(--color__body);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.6px;
}

input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid var(--border_color__input);
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
}
  
input[type=submit] {
    width: 100%;
    background-color: var(--bg__input_submit);
    color: var(--color__input_submit);
    padding: 14px 20px;
    margin: 12px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 17px;
    letter-spacing: 0.6px;
}
  
input[type=submit]:hover {
    background-color: var(--bg__input_submit_hover);
}