:root{
/*------------body--------------*/
    --bg_body: #111111;
    --color_body: #ffffff;

/*-------------input-------------*/
--border_color__input: #cccccc;

/*----------input_submit----------*/ 
    --bg__input_submit: #4CAF50;
    --color__input_submit: #ffffff;

/*--------input_submit_hover-------*/
    --bg__input_submit_hover: #45a049;

/*----------------------------------*/
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    background-color: var(--bg_body);
    color: var(--color_body);
}
.nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    background-color: #14669c;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    letter-spacing: 0.6px;
    padding: 0px 8px;
}
.nav__item, .logout{
    background-color: #d1d1d1;
    color: #000000;
    text-decoration: none;
    padding: 8px 16px;
    margin: 0px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-transform: capitalize;
    width: 150px;
}
.logout{
    color: #ffffff;
    background-color: #36913a;
}
.logout:hover{
    background-color: #2c7930;
}
.nav__item:hover{
    background-color: #b6b6b6;
}
.left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: auto;
}
.nav__name{
    text-transform: uppercase;
    font-size: 20px;
    margin-left: 8px;
    margin-right: 35px;
}
.sub_nav{
    display: flex;
    justify-content: flex-start;
    background-color: #0e507c;
    height: 50%;
}
.sub_nav__container{
    height: 100%;
    width: 50%;
}
.sub_nav__container__title{
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.6px;
}
.sub_nav__container__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;

    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.6px;
    padding: 0px 30px;

}

.sub_nav__container__form>input{
    width: 100%;
    padding: 10px 18px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid var(--border_color__input);
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
}

.sub_nav__container__form>input[type=submit] {
    width: 100%;
    background-color: var(--bg__input_submit);
    color: var(--color__input_submit);
    padding: 12px 19px;
    margin: 12px 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 17px;
    letter-spacing: 0.6px;
}
  
.sub_nav__container__form>input[type=submit]:hover {
    background-color: var(--bg__input_submit_hover);
}