:root{
/*------------body--------------*/
    --bg_body: #111111;
    --color_body: #ffffff;

/*----------------------------------*/
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    background-color: var(--bg_body);
    color: var(--color_body);
}